@model GestionAbscences.Models.ChangePasswordModel

@{
    ViewBag.Title = "change";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow-lg border-0 rounded-lg mt-5" style="margin-right:280px; margin-left:450px;width:800px; " dir="@GestionAbscences.Langagues.Resource1.dir">
    <div class="card-header"><h3 class="text-center font-weight-blod my-4">@GestionAbscences.langagues.Resource1.lien</h3></div>
    <div class="card-body">

        @using (Html.BeginForm("changePassword", "employe", FormMethod.Post))
        {
            @Html.AntiForgeryToken()



            <div class="form-horizontal">

                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @* @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.confirmNewPassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="row align-items-start">
                        <div class="col-2">
                            @GestionAbscences.langagues.Resource1.actuel
                        </div>

                        <div class="col-10">

                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                        <div class="form-group">
                            <div class="row align-items-start">
                                <div class="col-2">
                                    @GestionAbscences.langagues.Resource1.nouveau
                                </div>
                                <div class="col-10">
                                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row align-items-start">
                                <div class="col-2">
                                    @GestionAbscences.langagues.Resource1.confirmer
                                </div>
                                <div class="col-10">
                                    @Html.EditorFor(model => model.confirmNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.confirmNewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row align-items-start">
                                <div class="col-4">
                                </div>
                                    <div class="col-3">
                                        <input type="submit" value="@GestionAbscences.langagues.Resource1.Valider" class="btn btn-lg btn-success" style="padding-left:40px; padding-right:40px;" />
                                    </div>
                                    <div class="col-3">
                                        <input type="reset" value="@GestionAbscences.langagues.Resource1.Annuler" class="btn btn-lg btn-warning" style="padding-left: 40px; padding-right:40px;"  />

                                    </div>
                                </div>
                            </div>
                        </div>
                            }
                        </div>
                    </div>


